.App {
  text-align: center;
  display: flex;
  vertical-align: middle;
}

.App h1:before,.App h1:after{
  content: '';
  display: block;
  margin: 10px 0;
  border-bottom: 5px solid #000;
}
.WeatherInfoWrapper {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  
}

@media screen and (max-width:998px){
  .WeatherInfoWrapper {
    justify-content: center;
  }
}